@import 'tailwindcss';

.component {
    border-radius: 25px;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.7);
}

.box::-webkit-scrollbar {
    display: none;
}

.botRespo {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    font-family: sans-serif;
    text-align: justify;
    line-height: 1.2;
    padding: 1% 1%;
    color: black;
    white-space: pre-wrap;
}

.userRespo {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    font-family: sans-serif;
    line-height: 1.2;
    padding: 1% 1%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 98% 95%, 0 95%);
}


.userUploaded {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    padding: 2% 1%;
    font-family: sans-serif;
    line-height: 1.2;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 98% 95%, 0 95%);
}

.uploading{
    color: transparent;
	background: linear-gradient(
		90deg,
		#d4d4d4 30%,
		#adadad 50%,
		#d4d4d4 70%
	);
	background-size: 400% 100%;
	animation: uploading 1.5s infinite linear;
}
@keyframes uploading {
	0% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0 0;
	}
}


@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -24px 0 #000000, 24px 0 #FFF;
  }
  66% {
    background: #000000;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #000000;
  }
}