@import 'tailwindcss';

.login_input {
  @apply bg-white border-0 rounded-lg drop-shadow-lg shadow-gray-500
}


  .screen {
    @apply max-sm:flex-col max-sm:bg-center max-sm:items-start max-sm:h-screen max-sm:p-4;
  }
  .logo {
    @apply max-sm:w-[40vw] max-sm:h-[40vw] max-sm:bg-cover max-sm:bg-center;
  }
  .login_panel {
    @apply max-sm:w-full max-sm:rounded-tl-3xl max-sm:rounded-tr-3xl max-sm:rounded-bl-none max-sm:py-5;
  }
  .login_card {
    @apply max-sm:w-full max-sm:py-[1vw] ;
  }
  .login_button {
    @apply max-sm:py-[calc(1vw+1vh)] max-sm:rounded-lg max-sm:bg-yellow-500 max-sm:text-[clamp(0.8rem,2vw,2rem)];
  } 

  input {
    @apply max-sm:h-[2vw] max-sm:text-[clamp(0.8rem,2vw,2rem)]
  }