@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(51,13,3);
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.loader {
  width: 150px;
  height: 150px;
  background-color: #ff3d00;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.5) inset,
    0 5px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 45%;
  top: -40%;
  background-color: #fff;
  animation: wave 5s linear infinite;
}
.loader:before {
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.4);
  animation: wave 5s linear infinite;
}
@keyframes wave {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderBar {
  display: block;
  position: relative;
  height: 20px;
  width: 140px;
  background-image: linear-gradient(#fff 20px, transparent 0),
    linear-gradient(#fff 20px, transparent 0),
    linear-gradient(#fff 20px, transparent 0),
    linear-gradient(#fff 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 0 0, 40px 0, 80px 0, 120px 0;
  animation: pgfill 1s linear infinite;
}
@keyframes pgfill {
  0% {
    background-image: linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0);
  }
  25% {
    background-image: linear-gradient(#ff3d00 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0);
  }
  50% {
    background-image: linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#ff3d00 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0);
  }
  75% {
    background-image: linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#ff3d00 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0);
  }
  100% {
    background-image: linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#fff 20px, transparent 0),
      linear-gradient(#ff3d00 20px, transparent 0);
  }
}

.animate-slideIn {
  animation: slideIn 0.4s ease-out;
}

.typo-header-semibold {
  @apply text-[clamp(1rem,2.2vw,3rem)] font-semibold;

}
.typo-header-bold {
  @apply text-[clamp(1rem,2.2vw,3rem)] font-bold;
}

.typo-subheader-semibold {
  @apply text-[clamp(0.7rem,1.5vw,3rem)] font-semibold;

}
.typo-content-semibold {
  @apply text-[clamp(0.7rem,1.2vw,3rem)] font-semibold;
}

.typo-buttons-regular {
  @apply text-[clamp(0.7rem,0.8vw,3rem)] font-[600];
}

.typo-buttons-semibold {
  @apply text-[clamp(0.7rem,0.8vw,3rem)] font-semibold;
}
